* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(dust.png);
  width: 300px;
}

#search-container {
  padding: 15px;
  background-color: rgba(0, 0, 255, 0.4);
}

#search {
  width: 100%;
}

#shortcode_label {
  padding: 5px 15px;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#emojis {
  height: 300px; /* 10 rows */
  padding-top: 5px;
  overflow: auto;
}

.emoji {
  float: left;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.emoji:hover, .emoji.highlight {
  background-color: rgba(0, 0, 255, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 255, 0.15);
}
